
variables:
  - template: .azure-pipelines/variables.yml

name: ${{variables.name}}-pipeline

trigger:
  - main

stages:
  - stage: run
    displayName: Run
    jobs:
    - job: run
      displayName: Run
      pool:
        vmImage: ${{variables.vmImage}}
      steps:
      - task: AWSShellScript@1
        displayName: 'Ops: Deploy Interactive Access'
        inputs:
          awsCredentials: ${{ parameters.opsAccountServiceConnection }}
          regionName: ${{ parameters.awsRegion }}
          scriptType: 'inline'
          inlineScript: ./do.sh ops:access:deploy
      - task: AWSShellScript@1
        displayName: 'Target: Deploy Terraform Access'
        inputs:
          awsCredentials: ${{ parameters.targetAccountServiceConnection }}
          regionName: ${{ parameters.awsRegion }}
          scriptType: 'inline'
          inlineScript: ./do.sh tf:exec:deploy
      - task: AWSShellScript@1
        displayName: 'Ops: Deploy KMS Keys'
        inputs:
          awsCredentials: ${{ parameters.opsAccountServiceConnection }}
          regionName: ${{ parameters.awsRegion }}
          scriptType: 'inline'
          inlineScript: ./do.sh tf:kms:deploy
      - task: AWSShellScript@1
        displayName: 'Ops: Deploy Terraform Backend'
        inputs:
          awsCredentials: ${{ parameters.opsAccountServiceConnection }}
          regionName: ${{ parameters.awsRegion }}
          scriptType: 'inline'
          inlineScript: ./do.sh tf:backend:deploy
      - task: AWSShellScript@1
        displayName: 'Ops: Deploy Terraform Access'
        inputs:
          awsCredentials: ${{ parameters.opsAccountServiceConnection }}
          regionName: ${{ parameters.awsRegion }}
          scriptType: 'inline'
          inlineScript: ./do.sh tf:access:deploy
